.mini_head{
  width: 100%;
  text-align: center;
  font-size: 1.71em;
  height: 60px;
  line-height: 60px;
  position: relative;
  position: fixed;
  background-color: #fff;
  z-index: 1;
}
.mini_head span{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.mini_head span{
  width: 20px;
  height: 20px;
}
.mini_head .left_area{
  left: 30px;
  background: url(../img/head_left_arrow.png) no-repeat center;
}
.mini_head .right_area{
  right: 30px;
  background: url(../img/head_closed.png) no-repeat center;
}
.page_wrap{
  padding: 60px 28px;
}
.page_wrap.dp_wrap{
  background-color: #fff;
}
.dp_img_wrap{
  text-align: center;
}
.dp_img_wrap img{
  border-radius: 30px;
}
.prod_info{
  margin-top: 26px;
  position: relative;
}
.prod_info .btn_area{
  position: absolute;
  right: 0;
  top: 0;
}
.prod_info .btn_area span{
  display: inline-block;
  width: 34px;
  height: 34px;
}
.prod_info .btn_area .heart{
  background: url(../img/heart.png) no-repeat;
  margin-right: 10px;
}
.prod_info .btn_area .share{
  background: url(../img/share.png) no-repeat;
}
.prod_info .brand_name{
  font-weight: 100;
  font-size: 1.43em;
  color: #605e5c;
}
.prod_info h4{
  font-size: 1.71em;
  color: var(--black);
}
.prod_price{
  margin-top: 20px;
}
.prod_price .price_before span{
  color: #A19F9D;
  position: relative;
}
.prod_price .price_before span::before{
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background: #A19F9D;
}
.prod_price .price_after{
  font-size: 1.71em;
  color: #323130;
}
.prod_price .price_after span{
  font-size: 0.84em;
  color: #FF0505;
  font-weight: 600;
  margin-right: 10px;
}
.prod_detail{
  margin: 20px 0 15%;
  background-color: #D9D9D9;
  width: 100%;
  height: 168px; /*임시로 작성*/
  position: relative;
  border-radius: 30px;
}
/*임시*/
.prod_detail p{
  width: 100%;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*임시*/
.buy_btn{
  text-align: center;
}
.buy_btn button{
  border-radius: 30px;
  width: 47%;
}
.buy_btn button:last-child{margin-left: 3%;}

.option_bg{
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  z-index: 2;
  display: none;
}
.prod_option{
  width: 100%;
  position: absolute;
  bottom: 100px;
  padding: 18px 28px;
  background-color: #fff;
  border-radius: 30px 30px 0px 0px;
  z-index: 3;
  display: none;
}
.option_bg.active, .prod_option.active{display: block;}
.prod_option h4{
  font-size: 1.71em;
  text-align: center;
  position: relative;
}
.prod_option h4 span{
  position: absolute;
  width: 20px;
  height: 100%;
  top: 50%;
  right: 0;
  background: url(../img/head_closed.png) no-repeat center;
  transform: translateY(-50%);
}
.pdo_info ul{
  display: table;
  width: 100%;
  padding: 0;
}
.pdo_info ul li{
  display: table-cell;
}
.pdo_info ul li:first-child{
  width: 100px;
}
.pdo_info ul li:last-child{
  padding-left: 15px;
  vertical-align: middle;
}
.pdo_info .img_area{
  position: relative;
  border-radius: 15px;
}
.pdo_info .img_area .dday_coupon{
  position: absolute;
  background-color: #fff;
  font-weight: bold;
  top: 0;
  left: 0;
  border-radius: 15px 0 0 0;
  padding: 5px 20px;
  box-shadow: 2px 1px 5px -2px #000;
}
.pdo_info .info_area .pdo_brand{
  font-size: 0.86em;
}
.pdo_info .info_area h5{
  font-size: 1.43em;
  font-weight: bold;
  margin-top: 5px;
}
.pdo_info .info_area .pdo_period{
  font-size: 1.14em;
  margin-top: 15px;
}

.prod_option table tr > *{
  padding: 15px 0;
}
.prod_option table th{
  text-align: left;
  font-weight: 500;
}
.prod_option table td{
  font-size: 0.86em;
  text-align: right;
}
.prod_option table .pdo_all_price{
  font-weight: bold;
  font-size: 1.38em;
}
.prod_option .td_for_btn button{
  padding: 8px 16px;
  border-radius: 50px;
  font-size: 15px;
}
.prod_option .go_gift{
  display: block;
  width: 100%;
  text-align: center;
  border-radius: 30px;
  padding: 17px 0;
  margin-top: 38px;
  font-size: 1.42em;
  height: 54px;
  line-height: 24px;
  /* position: fixed; */
  z-index: 1;
}

.page_wrap.od{
  background: #fdfbfa;
}
.od_wrap{padding-top: 20px;}
.od_wrap h5{
  font-size: 20px;
  font-weight: bold;
}
.od_wrap .od_cont{
  background-color: #fff;
  padding: 20px 0;
  margin-top: 20px;
}
.od_wrap .od_cont .pdo_info ul{margin: 0;}
.go_payment{
  display: block;
  border-radius: 25px;
  text-align: center;
  margin-top: 80px;
}
.od_cont table{
  margin-top: 50px;
}
.od_cont table th{
  text-align: left;
  font-weight: normal;
  font-size: 16px;
  padding: 5px 0;
}
.od_cont table td{
  text-align: right;
}
.od_cont table td.pdo_discount_price{
  font-size: 18px;
}
table .btn_num_plmi{
  width: 26px;
  height: 26px;
  border: 2px solid #605E5C;
  color: #9F14FF;
  background-color: transparent;
  font-size: 20px;
  line-height: 15px;
  border-radius: 2px;
}
table #result{margin: 0 5px;}
.pdo_for_border{  
  border-top: 1px solid #d9d9d9;
  padding: 0;
}
.pdo_for_border li{
  float: left;
  padding: 10px 0;
  width: 70%;
  font-size: 16px;
}
.pdo_for_border li:last-child{
  width: 30%;
  text-align: right;
  font-weight: bold;
  font-size: 20px;
}
  
.how_pay input[type="radio"]{
  display: none;
}
.how_pay{
  padding: 0;
  margin-left: -10px;
}
.how_pay li{
  float: left;
  width: 33%;
  padding-left: 10px;
}
.how_pay label{
  display: block;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  padding: 12px;
  text-align: center;
  border-radius: 50px;
}
.how_pay input[type="radio"]:checked + label{
  border: 1px solid #9F14FF ;
  color: #9F14FF;
}
  
.pay_agree_area{
  margin-top: 20px;
  font-size: 15px;
}
.cont_tit{
  font-size: 18px;
  font-weight: bold;
  margin: 0.8em 0 ;
}

.addphone_area{
  padding: 0;
  font-weight: bold;
  line-height: 50px;
}
.addphone_area p{
  float: left;
  width: 50%;

  font-size: 16px;
}
.addphone_area p.td_for_btn{
  text-align: right;  
}
.addphone_area input[type="text"]{
  border-bottom: 1px solid #ccc;
  width: 78%;
  margin-right: 1%;
}
.addphone_area .minus_img{
  width: 20%;
  padding: 10px 0;
  vertical-align: middle;
  background: url(../img/prod_minus.png) no-repeat 80%;
}

@media screen and (max-width:396px) {
  .pay_agree_area{
    font-size: 13px;
  }
  .od_cont table th{font-size: 12px;} 
  .od_cont table .btn_num_plmi{width: 22px; height: 22px;}
  .pdo_info .info_area h5{font-size: 1.3em;}
  .pdo_info .info_area .pdo_period{font-size: 1.0em;}
  .prod_option{padding: 18px 15px;}
  .prod_option .td_for_btn button{padding: 8px 10px;}
}

@media screen and (max-width:360px) {
  .how_pay li{
    width: 100%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width:302px) {
  .od_cont table colgroup col {width:100%;}
  .od_cont table th, .od_cont table td {display: block; text-align: center; padding: 10px 0;}
  .od_cont table th{background-color: #D9D9D9;}
  .prod_option .td_for_btn button{font-size: 10px;}
  .prod_option table .pdo_all_price{font-size: 1.2em;}
}

/* 내쿠폰 */
header.no_position{
  position: initial;
}
.hd_title{
  padding-top: 44px;
}
.hd_title h3{
  position: relative;
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}
.hd_title span{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
}
.hd_title .left_area{
  left: 28px;
  background: url(../img/head_left_arrow_white.png) no-repeat;
}
.hd_title .right_area{
  right: 28px;
  background: url(../img/head_closed_white.png) no-repeat;
}
ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.tabs li{
  float: left;
  color: #A19F9D;
  padding: 0 0 10px;
  cursor: pointer;
  width: 50%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid #f5f5f5;
}

ul.tabs li.current{
  border-bottom: 2px solid #9F14FF;
  color: #9F14FF;
}

.tab-content{
  display: none;
}

.tab-content.current{
  display: inherit;
}
.page_cont{
  width: 92%;
  padding: 20px 15px 40px;
  margin: -73px auto 0;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 30px 30px 0px 0px;
}
.mc_info {
  color: #AAACAE;
  font-size: 15px;
}
.my_coupon_info{
  margin-top: 20px;
  position: relative;
}
.my_coupon_info p{
  width: 100%;
  background-color: #605E5C;
  text-align: center;
  font-size: 15px;
  padding: 17px 0;
  border-radius: 9px;
  position: absolute;
  animation: bounce 1s linear 0s infinite alternate;
  color: #fff;
}
.my_coupon_info p::before{
  content: '';
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  bottom: -13px;
  left: 50%;
  transform: rotate(45deg) translateX(-50%);
  background-color: #605E5C;;
}
.my_coupon_info .closed_wrap{
  padding-top: 80px;
}
.my_coupon_info .mc_closed_btn{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0px auto;
  background-color: #fff;
  background-image: url(../img/bg_closed.png);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #DFE2E5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

@keyframes bounce{
  0% {
   top: 20px;
  }
  50% {
   top: 10px;
  }
  100% {
   top: 20px;
  }
}

/* 공지사항 */
.page_cont.notice{
  padding: 20px 0 40px;
}

.acco_tit{
  position: relative;
  padding: 17px 15px;
  cursor: pointer;
  font-size: 14px;
  border-bottom: 1px solid #EDEBE9;
}
.acco_tit h4{
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 18px;
}
.acco_tit p{
  font-weight: 100;
  font-size: 16px;
}

.acco_cont {
  display: none;
  overflow: hidden;
  font-size: 14px;
  background-color: #f4f4f2;
  padding: 27px 15px;
  transition: initial;
}


.arrow_area{
  position: absolute;
  width: 20px;
  height: 15px;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/arrow_bottom.png) no-repeat 95% center;
  /* background-size: 12px; */
}
.acco_tit.on .arrow_area{
  transform: translateY(-70%) rotate(180deg);
}
.no_background{background:inherit;}
/* 공지사항 */