*{
    margin: 0 auto;
}
ul li{
  list-style: none;
}
label:not(.no_hide){
    display: none;
}
input {
  width: 100%;
  padding: 10px 10px;
  font-size: 18px;
}
input::-webkit-input-placeholder {
  color: var(--light-gray);
  font-style: inherit;
}
input:-ms-input-placeholder {
  color:var(--light-gray);
  font-style: inherit;
}
input::placeholder {
  color: var(--light-gray);
  font-style:inherit;
  opacity: 1;
}

/*login_skin start*/
.head{
  line-height: 60px;
  padding: 2% 5%;
}

.head .login_tit{
    text-align: center;
    color:var(--black);
    font-size: 20px;
    line-height: 40px;
}
.head .login_tit>img{
    float: right;
}

.log_img{
    width: 100%;
    padding: 15% 0;
}
.log_img >img{
  display: block;
  width: 127px;
  margin: 0 auto;
}

.login_id {
    margin:0 auto;
    width: 80%;
  }
  
  .login_id input {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    margin-top: 10px;
    padding: 0px 20px;
    border: 1px solid lightgray;
    outline: none;
  }
  
  .login_pw {
    margin:0 auto;
    width: 80%;
  }
  
  .login_pw input {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    margin-top: 10px;
    padding: 0px 20px;
    border: 1px solid lightgray;
    outline: none;
  }
  
  .login_etc {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
  }
  .login_etc li {
    display: inline-block;
    margin-right: 5%;
    vertical-align: middle;
  }
  
  .submit {
    margin:0 auto;
    width: 80%;
  }
  .submit input {
    width: 100%;
    height: 50px;
    border: 0;
    outline: none;
    border-radius: 40px;
    border: 1px solid var(--purple);
    color: var(--purple);
    font-size: 1.2em;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 10%;
  }
  .forgot{
    color:var(--black);
      width: 100%;
  }
  .forgot>ul{
    list-style: none;
    float: left;
    padding: 0px 5%;
    width: 90%;
  }
  .forgot>ul>li{
    float: left;
    width:36.333333%;
    color: var(--black);
    text-align: center;
    letter-spacing: -2px;
  }
  .forgot>ul>li:nth-child(3){
    width: 26%;
  }
  .forgot>ul>li>span{
    padding-left: 13px;
  }
 .link_area{
  display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   padding: 0;
  width: 100%;
 }
 
 .link_area .line_box{
   position: relative;
   width: 100%;
   height: 30px;
   padding: 0 8%;
   text-align: center;
 }
 .link_area .line_box hr{
  position: absolute;
  top: 50%;
  width: 82%;
   border-top: 1px solid var(--light-gray);
 }
 .link_area h3{
  position: absolute;
  width: 40px;
  left: 45%;
  top:17%;
  background: white;
  text-align: center;
  z-index: 10;
  color:var(--dark-gray)
 }
 .link_area ul{
   display: inline-flex;
   padding: 0 15%;
   text-align: center;
   width: 100%;
 }
 .link_area ul li{
   display: inline-flex;
   width: 25%;
  }
 .link_area ul li img{
  width: 34px;
  margin: 0 auto;
 }
 /*login_skin end*/

 /*register_skin start*/
 .head .login_tit .tit_left{
  width: 15px;
  float:left;
  padding-top: 7px;
 }

 #join_form{
  width: 100%;
  height: 100vh;
 }
 .form-group{
  display: block;
  margin: 23px;
 }
 #join_form .form-group #user_id,
 #user_pw,
 #user_pw_re,
 #tel,
 #c_number,
 #birthday{
  display: inline-block;
  width: 69%;
  background: #eee;
  vertical-align: middle;
  border-bottom: 1px solid var(--dark-gray);
 }
 #join_form .form-group .id_btn, .c_number_btn{
  width: 29%;
  display: inline-block;
  border-radius: 30px;
  font-weight: bold;
 }
 #birthday{width: 60%;}
 #join_form .form-group .birthday_btn{
  width: 18%;
  display: inline-block;
  border: 1px solid var(--light-gray);
  color: var(--light-gray);
  padding: 10px 0;
  border-radius: 30px;
  background-color: transparent;
 }

#join_form input:not(input[type="checkbox"]){
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  font-size: 16px;
}
select.purple_btn{
  width: 29%;
  border-radius: 30px;
  padding: 10px;
}
.no_hide{display:block; margin-top: 10px;}
.no_hide input{width: inherit;}
.form-group .bg_gray_btn{width: 100%; font-size: 16px; font-weight: bold; color: #605E5C;}

 /*register_skin start*/